* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  html {
  font-size: 62.5%;
  }


body {
  display: grid;
  justify-content: center;
  text-align: center;
  align-content: center;
  background-color: #1b262c;
}

form {
  height: fit-content;
}

.calculator {
  margin-top: 200px;
  display: grid;
  background-color: #1b262c; 
  height: 500px; 
  width: 300px;
  
  }

.screen {
  background-color: #1b262c;
  border: 0.5px solid #3282b8;
  color: white;
  width: -webkit-fill-available;
  height: 5rem;
  outline: none;
  font-size: 25px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 400px;
  }

  .btn{
    font-size: 30px;
    color: white;
    border: 0.5px solid #3282b8;
  }

  .btn-black {
    background-color: #1b262c;
  }

  .btn-blue {
    background-color: #0f4c75;
  } 

  .btn-light {
    background-color: #bbe1fa;
    color: #1b262c;
  }

  .btn:hover {
    background-color: #bbe1fa;
    color: #1b262c;
    box-shadow: 0 0 3px 1px white;
    border: none;
  }

  .btn-light:hover {
    background-color: white;
  }